/* static/css/styles.css */
.bkg {
    background-image: url('../img/img2.jpg'); /* Relative path from CSS to image */
    background-size: cover; /* Cover the entire div */
    background-position: center; /* Center the image */
}
.full-height {
    height: 100vh; /* 100% of the viewport height */
    background-color: lightblue; /* Just for demonstration */
}


        #result {
            font-size: 2rem; /* Adjust this value to make the font bigger */
            height: 200px; /* Adjust this value if needed */
            width: 100%;
        }

        #translation-result {
            font-size: 2rem; /* Adjust this value to make the font bigger */
            border: 1px solid #ccc;
            padding: 10px;
            height: 200px; /* Adjust this value if needed */
            width: 100%;
            overflow-y: auto; /* Adds scroll if text overflows */
        }

        /* Adjust button font size */
        .btn {
            font-size: 1rem; /* Adjust this value to make the button text bigger */
        }

    .translate-btn {
    background-color: blue;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 15px;
    transition: all 0.3s ease;
}


    /* Recording effect style */
    #start-btn.recording {
        background-color: red; /* Change to red when recording */
        animation: pulse 3s infinite; /* Add a pulsing animation */
    }


    /* Pulsing animation */
    @keyframes pulse {
        0% {
            box-shadow: 0 0 5px red;
        }
        50% {
            box-shadow: 0 0 400px blue;
        }
        100% {
            box-shadow: 0 0 50px blue;
        }
    }
